.custom-field-color {
    background-color: #a5e2e7 !important;/* Change text color if needed */
}
.custom-color {
    background-color: #a5e2e7 !important;/* Change text color if needed */
}

.custom-field-colors {
    background-color: #f7cd81 !important;/* Change text color if needed */
}

/* If you need to target specific field types */
.o_field_widget.custom-field-color {
    width: 150px !important; /* Change this to your desired width */
}